<!DOCTYPE html>
<html>

<head>
    {{>link}}
</head>

<body>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand " href="#"><i
                            class="fas fa-american-sign-language-interpreting"></i>Skyler<i
                            class="fas fa-american-sign-language-interpreting"></i></a><button class="navbar-toggler"
                        data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                            navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About Us</a>
                            </li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/service">Services</a>
                            </li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a>
                            </li>

                        </ul>
                        {{>modelform}}
                        {{>registermodel}}








                    </div>
                </div>
            </nav>

            <section class="text-black-50">
                <div class="container-fluid">
                    <!-- <h1 class="text-center text-capitalize mt-5 mb-5">About Us</h1>
                    <hr class="w-25 mx-auto pt-5"> -->
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12 text-center mt-5 mb-5">
                            <h1>WE WILL HELP YOU TO <br>
                                <span style="color: #2a82a5;">TO GROW YOUR SKILL</span>
                            </h1>
                            <p style="color: rgb(61, 61, 61);" class="mt-2 pr-5">We are the team of Computer Science
                                Engineering Students
                            </p>


                            <!-- <button class="btn btn-primary border-light">Know more</button> -->
                            <div class="container">

                                <a href="#demo" class="btn btn-danger" data-toggle="collapse">Know more</a>
                                <div id="demo" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="images/home.png" alt="" srcset="" class="img-fluid  pl-5 mt-5">
                        </div>

                    </div>

                </div>
            </section>

            <!-- AboutUs page -->
            <section class="text-black-50">
                <div class="container-fluid">
                    <h1 class="text-center text-capitalize mt-5 mb-5" style="color: darksalmon;">About Us <br>
                        <h3 class="text-center">Grow your skill with us</h3>

                    </h1>




                    <hr class="w-25 mx-auto pt-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="images/about.png" alt="" srcset="" class="img-fluid rounded-circle pl-5 mt-5">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 text-center mt-5 mb-5">
                            <h1>WE ARE THE PROFESSIONAL <br>
                                <span style="color: #2a82a5;"> MENTOR</span>
                            </h1>
                            <p style="color: rgb(61, 61, 61);" class="mt-2 pr-5">We are the team of Computer Science
                                Engineering Students
                            </p>


                            <!-- <button class="btn btn-primary border-light">Know more</button> -->
                            <div class="container">

                                <a href="#demo" class="btn btn-danger" data-toggle="collapse">Know more</a>
                                <div id="demo" class="collapse">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </section>
            <!-- About us end -->
        </div>
    </div>



    <!-- footer -->
    <div class="footer">
        <p>@copyrigt skyler.com 2021</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>